.frame .button {
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame .div-2 {
  border-radius: 4px;
}

.frame .pluss-instance {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.frame .button-i {
  color: var(--profil-hvit);
  font-family: var(--16-med-font-family);
  font-size: var(--16-med-font-size);
  font-style: var(--16-med-font-style);
  font-weight: var(--16-med-font-weight);
  letter-spacing: var(--16-med-letter-spacing);
  line-height: var(--16-med-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame .tekst-ikon-wrapper {
  background-color: #ffffff1a;
  border: 2px solid;
  border-color: #00481d;
  border-radius: 4px;
  height: 50px;
  left: 5px;
  position: relative;
  top: 4px;
  width: 127px;
}

.frame .tekst-ikon {
  align-items: flex-start;
  display: inline-flex;
  gap: 7px;
  left: 20px;
  position: relative;
  top: 10px;
}

.frame .button-2 {
  color: var(--m-rk-gr-nn-m-rk);
  font-family: var(--16-med-font-family);
  font-size: var(--16-med-font-size);
  font-style: var(--16-med-font-style);
  font-weight: var(--16-med-font-weight);
  letter-spacing: var(--16-med-letter-spacing);
  line-height: var(--16-med-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame.innaktiv {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
}

.frame.hover {
  height: 58px;
  width: 138px;
}

.frame.default {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.frame.primary {
  border-radius: 4px;
}

.frame.default.secondary {
  border: 2px solid;
}

.frame.innaktiv.primary {
  background-color: var(--inaktiv);
}

.frame.hover.primary {
  background-color: #007c331a;
}

.frame.default.large {
  padding: 12px 20px;
}

.frame.default.small {
  padding: 5px 20px;
}

.frame.innaktiv.secondary {
  border: 2px solid;
  border-color: var(--inaktiv);
}

.frame.default.primary {
  background-color: var(--profil-007c33);
}

.frame.hover.small {
  padding: 5px 20px;
}

.frame.default.large.secondary {
  border-color: var(--profil-007c33);
}

.frame.hover.small.secondary {
  border-color: var(--m-rk-gr-nn);
}

.frame.default.small.secondary {
  border-color: var(--m-rk-gr-nn);
}

.frame.large .button {
  font-family: var(--16-med-font-family);
  font-size: var(--16-med-font-size);
  font-style: var(--16-med-font-style);
  font-weight: var(--16-med-font-weight);
  letter-spacing: var(--16-med-letter-spacing);
  line-height: var(--16-med-line-height);
}

.frame.small .button {
  font-family: var(--16-reg-font-family);
  font-size: var(--16-reg-font-size);
  font-style: var(--16-reg-font-style);
  font-weight: var(--16-reg-font-weight);
  letter-spacing: var(--16-reg-letter-spacing);
  line-height: var(--16-reg-line-height);
}

.frame.secondary .button {
  margin-top: -2px;
}

.frame.primary .button {
  color: var(--profil-hvit);
  margin-top: -1px;
}

.frame.default.secondary .button {
  color: var(--m-rk-gr-nn-m-rk);
}

.frame.innaktiv.secondary .button {
  color: var(--inaktiv);
}

.frame.hover.secondary .button {
  color: var(--m-rk-gr-nn-m-rk);
}

.frame.primary .div-2 {
  align-items: center;
  background-color: var(--m-rk-gr-nn);
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 6px;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
  top: 4px;
}

.frame.secondary .div-2 {
  background-color: #007c331a;
  height: 58px;
}
